.dog-wrapper
  p.text click!!
  input.toggle(type="checkbox" id='ball')
  label(for='ball') Ball

  input.toggle(type="checkbox" id='feed')
  label(for='feed') Dog food
  .dog
    .ball
    .feed
      .feed__part
    .dog__ear
    .dog__face
      .dog__eye.dog__eye--left
      .dog__eye.dog__eye--right
      .dog__nose
      .dog__mouse
    .dog__body
    .dog__foot.dog__foot--left
    .dog__foot.dog__foot--right
    .dog__tail

